@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
}

video{
    width:auto;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
      width: 90%;
      background-color: red;
    }
  }