@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');


body{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
}

.video iframe{
    width: 1200px;
    height: 550px;
    align-items: center;
}

.infoform h3{
    font-size: 26px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  background-color: lightgray;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  background-color: lightgray;
}

textarea{
    width: 100%;
    font-size: 20px;
    background-color: lightgray;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 20px;
  width: 70%;
}

input[type=checkbox] {
  padding: 32px 20px;
  margin: 15px; 
  width: 30px;
  height: 30px;
}

.infoform h4{
    font-size: 20px;
}

.infoform h5{
    font-size: 20px;
}

.infoform h6{
    font-size: 30px;
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px 36px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    
    input[type=submit] {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 20px 36px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 20px;
      }

    
}